.reg-container {
  /* border: 1px solid red; */
  height: 100%;
}

.reg-container h2 {
  /* border: 2px solid blue; */
  text-align: center;
  margin-top: 5%;
  font-size: 2rem;
  font-weight: normal;
}

.form-container {
  /* border: 2px solid blue; */
  height: 80%;
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
  padding-top: 15px;
}

.form-container h3 {
  /* border: 1px solid orange; */
  text-align: center;
}

.form-content {
  /* border: 2px solid rgb(0, 0, 0); */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 15px;
  height: 70%;
}

.form-field {
  /* border: 2px solid orange; */
  width: 80%;
  height: 17%;
}

.form-field input { 
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgb(188, 188, 188);
  padding-left: 10px;
}

.form-content button {
  width: 80%;
  height: 17%;
  font-size: 1rem;
  border: none;
}

.deparment-dropdown {
  border-radius: 5px;
  border: 1px solid rgb(188, 188, 188);
  width: 100%;
  height: 100%;
}